//Recipe List
.recipe-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 40px 0px;
  grid-template-areas: ". . .";
  justify-content: center;
  align-content: center;
  justify-items: center;
  text-align: center;

  width: 85%;
  margin: auto;
}

.recipe--item {
  align-items: flex-start;
  display: flex;

  &-title {
    padding: 15px 10px;
    font-family: "Signika", sans-serif;
    font-size: 1.2rem;
  }

  .recipe--wrapper {
    position: relative;
    height: 300px;
    width: 300px;

    .recipe--image {
      object-fit: cover;
      object-position: center;
    }
  }
}
